<html>
<body style="margin:1.5em">
<table border="0" cellpadding="20" cellspacing="0" width="100%">
<tr bgcolor="#FF7E60">
	<td align="center" width="15%" style="padding:1.17em;" bgcolor="#cd0909">
		<img src="{{content-id}}" border="0">
		<!-- <img src="../../../image/calendar.png" border="0"> -->
	</td>
	<td align="center" width="85%" style="padding:1.17em;">
		<strong>
			<font face="Calibri" style="font-size:1.94em;position:relative;left:-2%;">
				{{attendee-gender}} {{attendee-name}} ha solicitado un turno con {{intern-gender}} {{intern-name}}
			</font>
		</strong>
	</td>
</tr>
<tr bgcolor="#F5F5F5">
	<td colspan="2" style="padding:2.64em;border:.3em solid #E6E6E6;">
		<center>
			<strong>
				<font face="Calibri" style="font-size:1.4em;" color="#000000">
					{{administrator-gender}} {{administrator-name}}
				</font>
			</strong>
		</center>
		<br/><br/>
		<font face="Calibri" style="font-size:1em;" color="#000000">
			El paciente <strong>{{attendee-gender}} {{attendee-name}}</strong> ha solicitado 
			un turno con el <strong>{{intern-gender}} {{intern-name}}</strong> para el 
			día {{weekday-label}} {{day}} de {{month-label}} - {{hour}} {{meridiem}}.			
			<br/>
			Dirección del consultorio: {{location}}
			<br/><br/><br/><br/>
			<br/><br/><br/><br/>
			<br/><br/>
		</font>				
		<font face="Calibri" style="font-size:1em;" color="#000000">
			<br/><br/><br/><br/><br/>
			Gracias.
			<br/>
			El equipo de Turnos.
		</font>
	</td>
</tr>
</table>
<br/><br/>
<font face="Calibri" style="font-size:1em;" color="#000000">
	Turnos.com
	<br/><br/><br/><br/>
	<br/><br/>
</font>
<center>
	<font face="Calibri" style="font-size:.92em;" color="#000000">
		La información contenida en este mensaje y en cualquier archivo anexo al mismo, es privada, 
		estrictamente confidencial y para uso exclusivo de sus destinatarios. Conforme con la legislación 
		vigente está prohibida la divulgación de datos, su cesión y su uso sin autorización.
		<br/><br/>
		(Ley de Confidencialidad 24.766 y Ley de Habeas Data 25.326). Si hubiera recibido este 
		mensaje por error, no distribuya el contenido y/o anexos, borre el mensaje de su sistema 
		e informe al emisor.		 
	</font>
</center>
</body>
</html>