@charset "UTF-8";

/******* html *******/

html *
{
	font-family: 'Lato', 'Verdana', 'Tahoma';
}

	/******* body *******/

	body {
		margin:0;
		padding: 0;
		background-color: #F1F3F6;
	}

		/******* top section *******/

		div.top {
			display: block;
			height: 5em;
			width: 33.5em;		
			border-bottom: .14em dotted #C4C4C4;
			margin: auto;
			margin-top: .5em;	
			margin-bottom: .5em;		
		}

			div.top > span {
				display: block;
				color: #4B4B4B;
				font-size: 1.15em;
				padding: .35em;
			}

			div.top span:nth-child(2) {
				display: block;
				color: #20304E;
				padding: .55em;
				font-size: .84em;
			}

		/******* form section *******/

		div.form {
			display: block;
			height: 6.8em;
			width: 33.4em;
			background-color: #67AAF8;
			margin: auto;	
			border-radius: .45em;
			padding-top: .75em;				
			-webkit-box-shadow: .4em .5em .9em .19 rgba(0,0,0,.15);
			-moz-box-shadow: .4em .5em .9em .19 rgba(0,0,0,.15);
			box-shadow: .4em .5em .9em .19em rgba(0,0,0,.15);										
		}

			div.form ol {
				display: block;
				margin: auto;	
				padding-top: .5em;
				padding-bottom: .5em;		
			}

				div.form ol ul {
					display: block;
					float: left;
					width: auto;
					padding: .35em;
				}

					div.form ol ul li {
						display: block;
						float: left;
						clear: both;					
						width: 14em;
						font-size: .8em;
						font-weight: 500;
						padding-bottom: 1em;
					}
					
					div.form ol ul:nth-child(1) li {
						width: 4.4em;
						height: 2em;
						position: relative;
						top: 1.1em;					
					}
					
					div.form ol ul:nth-child(3) li {
						padding-left: .9em
					}
					
					div.form ol ul li select {
						font-size: 1.1em;
						border-radius: .49em;
						padding: .34em;
						border: .14em solid #C2C0C0;
						width: 12.4em;					
						/*width: 12.5em;*/
					}
									
					div.form ol ul li input {
						font-size: 1.1em;
						border-radius: .49em;
						padding: .34em;
						border: .14em solid #C2C0C0;
						width: 12.4em;					
						/*width: 12em;*/
					}				
									
		/******* buttons section *******/

		div.buttons {
			display: block;
			width: 33.5em;
			height: 6em;
			padding-top: .8em;
			text-align: center;
			border-top: .14em dotted #C4C4C4;
			margin: auto;
			margin-top: .5em;
		}

			div.buttons > button {
				width: 12em;
				height: 3em;				
				border: none;
				outline: none;
				text-transform: uppercase;
				color: #FFF;
				box-shadow: 0 0 .4em #999;
				cursor: pointer;
				border-radius: 1.15em;
				background-color: rgb(30, 169, 165);
				transition: background 0.6s;
				background-position: center;
				background-image: radial-gradient(
					circle,
					transparent 1%,
					rgb(0, 152, 148) 1%
				);
				background-size: 12000%;					
			}

			div.buttons > button:active {
				background-color: rgb(0, 152, 148, 0.32);
				transition: background 0s;
				background-size: 100%;
			}
						
			div.buttons > button:nth-child(2) {
				margin-left: .95em;
			}

				div.buttons > button > label {
					font-size: 1em;
					color: #FFF;
					cursor: pointer;
				}				

		/******* bottom section *******/

		div.bottom {
			display: block;
			width: 100%;
			height: inherit;
		}
					
			div.bottom ol {
				display: block;
				width: 34.37em;
				height: auto;
				background-color: gray;
				margin: auto;
				margin-bottom: 2.4em;
				padding: 0;
				-webkit-box-shadow: .4em .5em .9em .19 rgba(0,0,0,.15);
				-moz-box-shadow: .4em .5em .9em .19 rgba(0,0,0,.15);
				box-shadow: .4em .5em .9em .19em rgba(0,0,0,.15);
			}
			
				div.bottom ol ul {
					display: block;
					width: auto;
					height: 2.21em;
					background-color: #CDCDD5;
					padding: 0;
					margin: 0;
					clear: both;
				}
					
					div.bottom ol ul > li {
						display: block;
						float: left;
						height: 2em;
						background-color: #C3DBEF;
						padding-top: .8em;
						font-size: .74em;
						font-weight: 500;					
					}
					
					div.bottom ol ul:nth-child(1) > li {
						background-color: #89BFED;
					}
					
					div.bottom ol ul > li:nth-child(1) {
						width: 13em;
						padding-left: .9em;
					}
					
					div.bottom ol ul > li:nth-child(2) {
						width: 9.9em;
					}				

					div.bottom ol ul > li:nth-child(3) {
						width: 7.5em;					
					}
					
					div.bottom ol ul > li:nth-child(4) {
						width: 11.5em;
					}

					div.bottom ol ul > li:nth-child(5) {
						width: 3.5em;
					}
